html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.overflow-text {
  width: 250px; /* Chiều rộng của phần tử chứa */
  white-space: nowrap; /* Ngăn văn bản xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản tràn ra khỏi khung */
  text-overflow: ellipsis; /* Thêm dấu ba chấm (...) cho văn bản tràn ra */
}

.shop-info {
  line-height: 0.8;
}

.shop-content-image img {
  border: 3px solid #ee4d;
  border-radius: 30px;
}

.shop-info {
  line-height: 0.8;
}

.shop-content-image img {
  border: 3px solid #ee4d;
  border-radius: 30px;
}

.category div > div {
  border: 0.25rem solid #ee4d;
  background-color: #ee4d;
  border-radius: 10px;
}

.shop-product-containter span {
  color: #e67700;
}

.shop-product-containter .category {
  background-color: rgb(242, 244, 244);
  border-radius: 3px;
  margin-right: 2rem;
}

.order-food-icon:hover {
  cursor: pointer;
}
